
<ion-header>
</ion-header>

<ion-content padding-top>
    <ion-spinner *ngIf="!news" name="bubbles"></ion-spinner>

  <div text-center>
    <img src="../../assets/imgs/vina.png" alt="" height="80">
  </div>
    <ion-card *ngFor="let item of news">
        <ion-item>
            <ion-card-header>
                <h2 [innerHTML]="item.title.rendered"></h2>
            </ion-card-header>
            <ion-card-content>
                <div [innerHTML]="item.excerpt.rendered" ></div>            
               
                <ion-note>
                    {{item.date | date:'medium'}}
                </ion-note> 
            </ion-card-content>
        </ion-item>
    </ion-card>

</ion-content>
